@font-face {
    font-family: mistral;
    src: local(mistral), url('mistral.ttf') format('opentype');
}

#left-column {
    font-size: 14px;
    font-family: 'Courier';
    width: 50%;
    float: left;
    margin-top: 20px;
}
#text-wrapper {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 75px;
}

#text-wrapper {
    text-align: center;
}

#download {
    font-family: mistral;
    font-size: 28px;
    width: 100%;
    margin-left: 25%;
    position: relative;
    right: 50px;

}

#download-image {
    line-height: 28;
    display: inline;
}

#right-column {
    float: left;
    width: 50%;

}

#art-download-wrapper {
    width: 50%;
    position: fixed;
    right: 0%;
    top: 25%;

    transform: translate(15%, 0%);
}

#album-art {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
}

p, pre {
    margin: 0;
    padding: 0;
}

pre {
    font-size: 7px;
    margin: 5px;
}

#footer {
    width: 100%;
    height: 100 px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    text-align: center;
}

#contact {
    font-family: mistral;
    font-size: 18px;
    color: #0B0080;
    line-height: 45px;
    padding-left: 10px;
}

a:visited {
    color: #0B0080;
}


@media (max-width: 1250px) {
    p {
        font-size: 1vw;
    }

    #download {
        right: 60px;
    }

}

@media (max-width: 800px) {
    #right-column {
        float: clear;
        width: 100%;
    }

    #left-column {
        float: clear;
        width: 100%;
    }

    p {
        font-size: 1.7vw;
    }


    #art-download-wrapper {
        position: static;
        transform: none;
        margin: 0 auto;
        margin-bottom: 125px;
        text-align: center;

    }

    #album-art {
        width: 100%;
        height: auto;
        transform: none;
        margin: 0 auto;
        margin-bottom: 20px;

    }

    #download {
        width: 100%;
        margin: 0 auto;
        right: 0;


    }

}

@media (max-width: 900px) {
    pre {
        font-size: 6px;
    }

}
